<div  class="login-container">
    <div class="loginSubContainer" id="test">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h2>{{'loginForm.Login' | translate}}</h2>
            <!-- <div class="radio-group">
                <label>
                  <input type="radio" name="user-type" value="user" formControlName="userType"> User
                </label>
                <label>
                  <input type="radio" name="user-type" value="admin" formControlName="userType"> Admin
                </label>
            </div>
               -->
            <div>
                <label>{{'loginForm.Email' | translate}}:</label>
    
                <input type="email" formControlName="email">
                <div
                    *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                    <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email address.</div>
                </div>
            </div>
            <div>
                <label>{{'loginForm.Password' | translate}}</label>
                <input type="password" formControlName="password">
                <div
                    *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters
                        long.</div>
                </div>
            </div>
            <br />
            <button class="loginButton" type="submit" [disabled]="loginForm.invalid">{{'loginForm.LoginButton' | translate}}</button>
            <br/>
            
            <span>
                <span> {{'loginForm.Register' | translate}} </span>
                <a routerLink="/home/register" class="registerLink"> {{'loginForm.RegisterLink' | translate}} </a>
            </span>        
        </form>
    
    </div>
    </div>

    