<div class="register-container">
  <div class="registerSubContainer" id="test">
    <form [formGroup]="registrationForm">
      <table>
        <tr>
          <td>
            <label>
              Name:
              <input type="text" formControlName="userName" />
            </label>
          </td>
          <td>
            <label>
              Email:
              <input type="email" formControlName="email" />
            </label>
          </td>
          <td>
            <label>
              Contact:
              <input type="text" formControlName="contact" />
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label>
              Role:
              <select formControlName="role">
                <option value="user" [ngValue]="role">User</option>
                <option value="admin">Admin</option>
              </select>
            </label>
          </td>
        </tr>
        <td>
          <label>
            Skills List:
            <div formGroupName="skills" class="checkbox-container">
              <label *ngFor="let skill of skillsList" for="my-checkbox">
                <input type="checkbox" [value]="skill" [checked]="selectedSkills.includes(skill)">
                {{ skill }}
              </label>
            </div>
          </label>
        </td>
      </table>
      <button type="submit" (click)="updateUser()">Update</button>
    </form>
  </div>
</div>
