.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 100px;
}

.loginButton {
  background-color: #073157;
}

form {
  display: flex;
  flex-direction: column;
  /* background-color: #fff; */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin: 10px;
}

input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  width: 95%;
}

input:focus {
  outline: none;
  border-color: #5b9dd9;
}

button {
  background-color: #5b9dd9;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:disabled {
  background-color: #ccc;
  cursor: default;
}

button:hover:not(:disabled) {
  background-color: #2c689c;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.radio-group label {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}

.radio-group input[type="radio"] {
  display: inline-block;
  margin-right: 5px;
}

.registerSubContainer {
  height: 73%;
}
table {
  border-collapse: collapse;
  width: 100%;
}


th,
td {
  /* border: 1px solid black; */
  padding: 8px;
  text-align: left;
}


th {
  background-color: #ddd;
  font-weight: bold;
}


.checkboxes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


label {
  margin-right: 10px;
  /* Optional: add some spacing between the labels */
}
.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-right: 10px;
}