

.header{
    /* position: fixed; */
    background: rgba(255, 255, 255, 0.3);
    height: 50px;
    width: 100%;

    /* opacity: 35%; */
}

.headerTitle{
   position: relative;
    top: 20%;
    left: 45%;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


* {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100vh;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    -webkit-appearance: none;
    position: relative;
    width: 60px;
    height: 30px;
    background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
    background-size: cover;
    border-radius: 50px;
    outline: none;
    transition: background-image .90s;
    box-shadow: 0px 2px 5px 1px gray;
  }
  
  input:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: navy;
    border-radius: 50px;
    transition: all .9s;
    background-color: #F7CA33;
  }
  
  input:checked {
    background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
    transition: background-image .90s;
  
  }
  
  input:checked:before {
    transform: translate(100%);
    transition: all .9s;
    background-color: #ECF0F3;
  }

  .toggle{
    float: right;
  margin-right: 20px;
  /* top: 20px; */
  /* position: absolute; */
  top: 8px;
}


.language{
    float :right;
    margin-right: 20px;
    top: 33px;
    position: absolute;
    top: -6px;
}

.active{
  color: rgb(48, 164, 6);
}

ul li{
  display: inline;
  color: white;
}

.switchLang{
  float: left;
  top: 30px;
  position: absolute;
  padding-right: 10px;
  font-weight: bold;
}

.logout {
  float: right;
    /* top: 14px; */
    font-size: 18px;
    position: relative;
    font-weight: bold;
    padding-right: 20px;
    top: -10px;
    position: relative;
}

.tooltip-example {
  text-align: center;
  padding: 0 50px;
}
.tooltip-example [tooltip] {
  display: inline-block;
  margin: 50px 20px;
  width: 180px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}
.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: #f8f8f2;
  padding: 3px 8px;
  background: #282a36;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
}
.ng-tooltip:after {
  content: "";
  position: absolute;
  border-style: solid;
}
.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: black transparent transparent transparent;
}
.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}
.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent black;
}
.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}
.ng-tooltip-show {
  opacity: 1;
}

  
